body {
    display: flex;
    column-gap: 20px;
}


.posts-wrapper, .albums-wrapper {
    /* width: 60%; */
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
}
.post {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
